<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p class="lead">Security Consult, Inc is a Charlotte, NC based Intrusion/Video Surveillance/Access Control/Fire
          Alarm and Private Investigative Services company with the "insider's" edge that provides expert, one-on-one,
          custom solutions for your personal and business needs.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>