<section id="authorized" class="authorized">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <img class="img-authorized img-responsive" src="img/authorized-1.png">
                    </li>
                    <li class="list-inline-item">
                        <img class="img-authorized img-responsive" src="img/authorized-2.png">
                    </li>
                    <li class="list-inline-item">
                        <img class="img-authorized img-responsive" src="img/authorized-3.png">
                    </li>
                    <li class="list-inline-item">
                        <img class="img-authorized img-responsive" src="img/authorized-4.png">
                    </li>
                    <li class="list-inline-item">
                        <img class="img-authorized img-responsive" src="img/authorized-5.png">
                    </li>
                    <li class="list-inline-item">
                        <img class="img-authorized img-responsive" src="img/authorized-6.png">
                    </li>
                    <li class="list-inline-item">
                        <img class="img-authorized img-responsive" src="img/authorized-7.png">
                    </li>
                    <li class="list-inline-item">
                        <img class="img-authorized img-responsive" src="img/authorized-8.png">
                    </li>
                    <li class="list-inline-item">
                        <img class="img-authorized img-responsive" src="img/authorized-9.png">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
