<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Previous Projects</h2>
                <hr class="small">

                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <img class="img-portfolio img-responsive" src="img/portfolio-1.jpg">
                            <p class="lead">Joe Gibbs Racing - Surveillance Camera Upgrade from analog to IP with 180<span>&#176;</span> cameras.  Reduced multiple cameras to a single increasing footprint but reducing costs</p>
                            <!--    <p class="flex-caption">{{ page.excerpt }}</p> -->
                            </a>
                        </li>
                        <li>
                            <img class="img-portfolio img-responsive" src="img/portfolio-2.jpg">
                                <p class="lead">Rosewood Condiminiums new 24 door Openpath Access Control System </p> 
                            </a>
                        </li>
                        <li>
                            <img class="img-portfolio img-responsive" src="img/portfolio-3.jpg">
                            <p class="lead">Charlotte Douglass Airport - Installed Axis IP Cameras and Cloudvue onto secure networks. Integrated Secure access credentials </p>
                            </a>
                        </li>

                        <li>
                            <img class="img-portfolio img-responsive" src="img/portfolio-4.jpg">
                            <p class="lead">Courtyard Marriot</p>
                            </a>
                        </li>
                        <li>
                            <img class="img-portfolio img-responsive" src="img/portfolio-5.jpg">
                            <!--    <p class="flex-caption">{{ page.excerpt }}</p> -->
                            </a>
                        </li>
                        <li>
                            <img class="img-portfolio img-responsive" src="img/portfolio-6.jpg">
                            <p class="lead">The Refinery - 107,000 rsf Class-A managed access control. Honeywell Netaxs 4. Credentials, schedules, terminations</p>
                            <!--    <p class="flex-caption">{{ page.excerpt }}</p> -->
                            </a>
                        </li>
                        <li>
                            <img class="img-portfolio img-responsive" src="img/portfolio-7.jpg">
                            <p class="lead">Rosewood Condos - Cloud based access control systems. Mobile device access removing need for key fobs and cards.</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>