<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Previous Projects</h2>
                <hr class="small">

                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <img class="img-portfolio img-responsive" src="img/portfolio-1.jpg">
                            <!--    <p class="flex-caption">{{ page.excerpt }}</p> -->
                            </a>
                        </li>
                        <li>
                            <img class="img-portfolio img-responsive" src="img/portfolio-2.jpg">
                            <!--    <p class="flex-caption">{{ page.excerpt }}</p> -->
                            </a>
                        </li>
                        <li>
                            <img class="img-portfolio img-responsive" src="img/portfolio-3.jpg">
                            <p class="lead">Charlotte Douglass Airport</p>
                            </a>
                        </li>

                        <li>
                            <img class="img-portfolio img-responsive" src="img/portfolio-4.jpg">
                            <p class="lead">Courtyard Marriot</p>
                            </a>
                        </li>
                        <li>
                            <img class="img-portfolio img-responsive" src="img/portfolio-5.jpg">
                            <!--    <p class="flex-caption">{{ page.excerpt }}</p> -->
                            </a>
                        </li>
                        <li>
                            <img class="img-portfolio img-responsive" src="img/portfolio-6.jpg">
                            <!--    <p class="flex-caption">{{ page.excerpt }}</p> -->
                            </a>
                        </li>
                        <li>
                            <img class="img-portfolio img-responsive" src="img/portfolio-7.jpg">
                            <p class="lead">GAP, Arboretum Shoping Center Charlotte, NC. Stay safe.</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>