<aside class="call-to-action bg-secondary">


    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        North Carolina Aalrm Systems<br>Licensing board - #2330-CSA
                    </li>
                    <li class="list-inline-item">
                        Licensed by the NC PPSB NC Armed<BR>Private Investigator License #4309
                    </li>
                    <li class="list-inline-item">
                        Member of North Carolina Association<br>of Private Investigators
                    </li>
                    <li class="list-inline-item">
                        NC Board of Examiners of Electrical<br>contractors - #29488-SP-FA/LV
                    </li>
                </ul>
            </div>
        </div>
    </div>
</aside>