<!-- jQuery -->
<!-- <script src="js/jquery.js"></script> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->


<!-- Bootstrap Core JavaScript -->
<!-- <script src="js/bootstrap.min.js"></script> -->
<!-- -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> --> -->
<!-- Latest compiled and minified JavaScript -->

<!-- Google Platform Library -->
<script src="https://apis.google.com/js/platform.js" async defer></script>

<!-- Custom Theme JavaScript -->
<script src="{{ site.baseurl }}/js/custom.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkUOdZ5y7hMm0yrcCQoCvLwzdM6M8s5qk&libraries=places&callback=initMap"
    async defer></script>