<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  <div class="container-box rotated">
    <button type="button" class="btn bg-primary btn-lg turned-button" data-toggle="modal" data-target="#myModal">Contact
      Us</button>
  </div>

  <!--Begin Modal Window-->
  <div class="modal fade left" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="pull-left no-margin">Contact Form</h3>
          <button type="button" class="close" data-dismiss="modal" title="Close"><span
              class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
        <div class="modal-body">
          <form action="https://formspree.io/sales@securityconsult411.com" method="POST">
            <p> Contact us directly using the form below.</p>
            <div class="form-group">
              <label for="name"> Name:</label>
              <input type="text" class="form-control" id="name" name="name" required maxlength="50">
            </div>
            <div class="form-group">
              <label for="email"> Email:</label>
              <input type="email" class="form-control" id="email" name="_replyto" required maxlength="50">
            </div>
            <div class="form-group">
              <label for="teelephone"> Phone Number:</label>
              <input type="telephone" class="form-control" id="telephone" name="telephone" required maxlength="50">
            </div>
            <div class="form-group">
              <label for="name"> Message:</label>
              <textarea class="form-control" type="textarea" name="message" id="message" placeholder="Your Message Here"
                maxlength="6000" rows="7"></textarea>
            </div>
            <input type="hidden" name="_subject" value="New Contact Submission from securityconsult411.com" />
            <input type="hidden" name="_next" value="index.html" />
            <input type="text" name="_gotcha" style="display:none" />

            <button type="submit" class="btn btn-lg btn-success btn-block" id="btnContactUs">Send Form
              &rarr;</button>
          </form>
        </div>

        <div class="modal-footer">
          <div class="col-xs-10 pull-left text-left text-muted">
            <small><strong></strong>
            </small>
          </div>
          <button class="btn-sm close" type="button" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  {% include navigation.html %}
  {% include header.html %}
  {% include about.html %}
  {% include services.html %}
  {% include callout.html %}
  {% include flexslider-portfolio.html %}
  {% include call-to-action.html %}
  {% include authorized.html %}
  {% include licenses.html %}
  <!-- {% include map.html %} -->
  {% include footer.html %}
  {% include scripts.html %}

</body>

</html>
